<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeequan.jeepay.service.mapper.MsgTemplateVersionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeequan.jeepay.core.entity.MsgTemplateVersion">
        <id column="version_id" property="versionId" />
        <result column="template_id" property="templateId" />
        <result column="version_no" property="versionNo" />
        <result column="template_content" property="templateContent" />
        <result column="content_format" property="contentFormat" />
        <result column="variable_list" property="variableList" />
        <result column="state" property="state" />
        <result column="publish_time" property="publishTime" />
        <result column="created_by" property="createdBy" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
